body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.container {
    height: 385px;
    width: 575px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B244A;
    padding: 1rem;
}
.container h3{
    color: #EEEEEE; 
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.score-box p{
    color: #F94F6D;
    font-size: 5.5rem;
    font-weight: bold;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    margin-top: 1rem;    
}
.btn-container button {
    margin: 0 0.4rem; 
    font-size: 1rem; 
    font-weight: bold; 
    padding: 0.5rem;
    background: transparent;
    border-color: #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
}